// mixins
@mixin flexUtil($flex-flow, $justify-content, $align-items, $gap) {
  display: flex;
  flex-flow: $flex-flow;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

// colors
$shadow_container_color: #242324;
$bg_color: #2a292b;
$container_bg_color: #383739;
$general_text_color: #ffffff;
$vibrant_text_color: #97f600;
$darker_text_color: #11998e;

// keyframes
@keyframes showFromTopToBottomForBiggerScreens {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showFromTopToBottomForSmallerScreens {
  from {
    transform: translateY(-30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showFromBottomToTopForBiggerScreens {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showFromBottomToTopForSmallerScreens {
  from {
    transform: translateY(30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showFromLeftToRight {
  from {
    transform: translateX(-4%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes showFromRightToLeft {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes showScaleUp {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
