// mixins
@mixin flexUtil($flex-flow, $justify-content, $align-items, $gap) {
  display: flex;
  flex-flow: $flex-flow;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

// colors
$bg_color: #2a292b;
$container_bg_color: #383739;